<!--main-footer-->
<b:section id="main-footer" class="main-footer"
           maxwidgets="1" showaddelements="no">
    <b:widget id="HTML1" expr:class="share" locked="true" title="HTML1" type="HTML" visible="true">
        <b:includable id="main">
            <div id="blog-share">
                <div class="title">Share this</div>

                <div class="sb g-plus">
                    <div class="g-plus"
                         data-action="share" data-annotation="none" data-height="24">
                    </div>
                </div>

                <div class="sb fb">
                    <div class="fb-share-button"
                         expr:data-href="data:url"
                         data-layout="button"
                         data-size="small"
                         data-mobile-iframe="true">
                        <a class="fb-xfbml-parse-ignore" target="_blank"
                           expr:href='"https://www.facebook.com/sharer/sharer.php?u=" + data:url + "&amp;src=sdkpreparse"'>
                            Chia sẻ
                        </a>
                    </div>
                </div>
            </div>
        </b:includable>
    </b:widget>
</b:section>
